<form class="mt-4">
  <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2">Créer un commentaire:</label>
      <textarea [(ngModel)]="comment.comment" name="comment" class="shadow appearance-none border rounded w-80 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline resize-none" rows="4"></textarea>
  </div>
  
  <button type="submit" (click)="saveComment(comment)" class="bg-purple-700 hover:bg-purple-800 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Create Comment</button>
</form>