<!-- create-product.component.html -->

<form>
    <div>
      <label>Name:</label>
      <input  [(ngModel)] = "user.nom" name="nom" type="text">
    </div>
    <div>
        <label>Prenom:</label>
        <input  [(ngModel)] = "user.prenom" name="prenom" type="text">
      </div>
      <div>
        <label>Mot de passe:</label>
        <input  [(ngModel)] = "user.password" name="password" type="text">
      </div>
      <div>
        <label>email:</label>
        <input  [(ngModel)] = "user.email" name="email" type="email">
      </div>
      <div>
        <label>Role:</label>
        <select (click)="selectRole()" name="roleUser" id="roleUser" [(ngModel)] = "user.role_user">
            <option value="" disabled selected>Role</option>
            <option value="Supplier">Supplier</option>
            <option value="Buyer">Buyer</option>
        </select>
      </div>
      <div id="imageForSupplier" style="display:none">
        <label>Image:</label>
        <input [(ngModel)] = "user.image" name="image" type="file">
      </div>
     
    <button type="submit" (click)="saveUser(user)">Create Product</button>
  </form> 
  






    
   
  



