<!-- create-product.component.html -->

 <form>
    <div>
      <label>Name:</label>
      <input  [(ngModel)] = "product.name" name="name" type="text">
    </div>
    <div>
        <label>Prix:</label>
        <input  [(ngModel)] = "product.prix" name="prix" type="number">
      </div>
      <div>
        <label>Less Quantity:</label>
        <input  [(ngModel)] = "product.less_quantity" name="less_quantity" type="number">
      </div>
      <div>
        <label>Quantity:</label>
        <input  [(ngModel)] = "product.quantity" name="quantity" type="number">
      </div>
      <div>
        <label>Description:</label>
        <textarea [(ngModel)] = "product.description" name="description" ></textarea>
      </div>
      <div>
        <label>Image:</label>
        <input  [(ngModel)] = "product.image" name="image" type="text">
      </div>
      <!-- <div>
        <label>Category:</label>
        <select formControlName="category">
          <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
        </select>
      </div> -->
    <button type="submit" (click)="saveProduct(product)">Create Product</button>
  </form> 
  






    
   
  



